body{
background-image: url('https://wallpaperplay.com/walls/full/8/3/8/126393.jpg');
font-style:
}


#navbar {
  overflow: hidden;
  background-color: #333;
}


#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

 page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

<<<<<<< HEAD
  .Pokemon {
  image: 100px;
  font-style: red;
}
=======


.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  height: 40px;

}

.tablink:hover {
  background-color: #777;

}

.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

#Pikachu {background-color:red;}
#Jigglypuff {background-color:green;}
#kangaskhan {background-color:blue;}
>>>>>>> 4a5f0d88db4059d9698decf109e2790251841883
